.definition__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  color: #575756;
}

.definition__item {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.definition__heading {
  color: #f00f00;
}

.definition__content {

}
