.header__socials {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 10%;
}

.socials__item {
  margin-right: 5px;

  &:last-child {
    margin: 0;
  }
}

.socials__icon {
  width: 30px;
  height: 30px;
  fill:$main-social-color;

  &:hover {
    fill: $hover-color;
  }
}