.header__right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;

  @include bigTablets {
    flex-direction: column;
    align-items: flex-end;
  }

  @include phones {
    display: none;
  }
}