.latest-news__wrapper {
  display: flex;
  flex-flow: row wrap;
  
}

.latest-news__item {
  background-color: $latest-news-background-color;
  display: flex;
  flex-flow: column nowrap;
  max-width: 360px;
  margin: 0 40px 40px 0;
  overflow: hidden;
  max-height: 525px;

}