.latest-news__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  //width: 100%;
  margin-right: -20px;
  margin-left: -20px;

  @include phones {
    width: 100%;
  }
}


.latest-news__image {
  width: 100%;
}
