.latest-news__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;

  //@include bigTablets {
  //  justify-content: space-between;
  //}
}


.latest-news__image {
  width: 100%;
}
