.main-content {
  background-color: $main-background-color;
}

.main__wrapper {
  background-image: url("~images/decoration/shadow-main.png");
  background-repeat: no-repeat;
}

.main-container {
  padding-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}