.main-content {
  background-color: #f0f5fa;
}

.main__wrapper {
  height: 60px;
  background-image: url("~images/decoration/shadow-main.png");
  background-repeat: no-repeat;
}

.main-container {
  padding-top: 60px;
}