.news__item {
  display: flex;

  &--short {
    flex-flow: row nowrap;
    width: 33%;
    justify-content: space-around;
    align-items: center;
    border-right: solid 1px $short-border-color;

    &:last-child {
      border: none;
    }
  }
}

.news__content {
  display: flex;

  &--short {
    flex-flow: row nowrap;
    width: 50%;
  }
}

.news__image {
  display: flex;

  &--short {
    flex-flow: row nowrap;
    max-width: 83px;
    max-height: 83px;
  }
}