.close-button {
  position: absolute;
  top: 50px;
  right: 40px;
  background: svg-load('popUP-close.svg', fill=none, stroke="#cccccc", width=100%, height=100%) bottom center no-repeat;
  z-index: 150;
  height: 35px;
  width: 35px;

  @include phones {
    top: 50px;
    right: 40px;
  }
}

.close-button__img {
  fill: $close-svg-color;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 1.3px;

  &:hover {
    fill: $hover-color;
  }
}
