.close-button {
position: absolute;
top: 54px;
left: 65px;
background: transparent;
z-index: 150;
height: 35px;
width: 35px;


@include phones {
  left: 1%;
  top: 1%;
}

}

.close-button__img {
fill: none;
fill: $close-svg-color;
stroke: #fff;
stroke-miterlimit: 10;
stroke-width: 1.3px;


&:hover {
  fill: $hover-color;
}
}