.projects-main__wrapper {


  @include bigTablets {
    margin-right: -40px;
  }
}

.projects__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: -20px;
  margin-left: -20px;

  @include phones {
    width: 100%;
  }
}


.project__image {
  width: 100%;
}
