.props {
  font-size: 14px;
  color: #575756;
}

.props__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: -40px;
}

.prop {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 40px 40px 0;
  flex: 0 0 50%;
  max-width: calc(50% - 40px);

  @include phones {
    flex: 0 0 100%;
    max-width: calc(100% - 40px);
  }
}

.prop__heading {
  color: #000000;
  margin-bottom: 5px;
}

.prop__text {
//
}
