.reports__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: -40px;
}

.report {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 40px 40px 0;
  flex: 0 0 33%;
  max-width: calc(33.33% - 40px);

  @include phones {
    flex: 0 0 50%;
    max-width: calc(50% - 40px);
  }
}

.report__image {
  max-width: 100%;
  margin-bottom: 10px;
}

.report__img {
  width: 100%;
  max-width: none;
  max-height: none;
}
