.search-tags {
  display: flex;
  flex-flow: row wrap;
  color: $tags-color;
  font-size: 13px;
  margin-bottom: 10px;
}

.search-tags__item {

  &:hover {
    color: $hover-color;
  }

  &::after {
    content: '\00B7';
    padding: 0 5px;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
  // Возможность отключения отображения больше чем 3 тэгов
  // &:nth-child(n+4) {
  //   display: none;
  // }
} 

.search-tags__link {
  text-decoration: none;
}