section.section.slider.slider--main
  .slider__wrapper
    .slider-left__wrapper
      .slider__left
        +icon('arrow', 'slider-arrow__icon slider-arrow__icon--left')
    .slider__main
      .slider__item
        .slider__content
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
            ul.slider__tags.tags
              each item, index in tags[0]
                li.tags__item #{item}
          h3.slider__title Lorem ipsum dolor sit amet.
          .slider__text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium harum quas, iusto consequuntur fugit aut perspiciatis consectetur corrupti! Tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis, tempora quia dolores illo debitis nesciunt. Ipsa, dolor! Excepturi, exercitationem? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, quidem praesentium illo magnam consequatur aspernatur amet architecto aut hic harum beatae dolorum sint saepe officia. Unde doloribus tenetur, ipsa tempore quam modi eaque alias eius iste totam suscipit commodi cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veniam saepe nesciunt autem blanditiis. Aperiam autem sint eaque atque dolor ipsa quo perspiciatis nesciunt voluptatum amet animi laudantium consequuntur, itaque quisquam neque temporibus magnam, illum non adipisci earum illo explicabo! Dignissimos ullam temporibus odio quaerat! Aliquid harum sit ex ad.
        .slider__image
          +image('content/slider__item-1.jpg', 'slider-content__image')
          .slider__tag--active Право на историю
      .slider__item
        .slider__content
          - var tags = [['Фонд', 'История', 'Война'], []];
            ul.slider__tags.tags
              each item, index in tags[0]
                li.tags__item #{item}
          h3.slider__title Lorem ipsum dolor sit amet.
          .slider__text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium harum quas, iusto consequuntur fugit aut perspiciatis consectetur corrupti! Tempore!
        .slider__image
          +image('content/slider__item-2.jpg', 'slider-content__image')
          .slider__tag--active Права человека
    .slider-left__wrapper
      .slider__right 
        +icon('arrow', 'slider-arrow__icon slider-arrow__icon--right')

  .slider__navigation
    - var icons = [["slider-navigation-dot", "slider-navigation-dot", "slider-navigation-dot", "slider-navigation-dot"],[]];
      ul.slider-navigation-dot__list
        each item, index in icons[0]
          if index == 0
            li.slider-navigation-dot__item.slider-navigation-dot__item--active
              +icon(item, "slider-navigation-dot__icon")
          else
            li.slider-navigation-dot__item
              +icon(item, "slider-navigation-dot__icon")
  .section__wrapper.section__wrapper--slider
