section.section.activity.activity--all
  h2.section__title.section__title--page Мероприятия фонда и партнёров
  .activity-wrapper.activity-wrapper--all
    .activity__item.activity__item--all
      .activity-item__left.activity-item__left--all
        .news__image.news__image--activity
          a(href="#").news__link
            +image("content/activity-image-1.png", "img activity-img")
        .activity__line
      .activity-item__right.activity-item__right--all
        .news__date.news__date--timetable.news__date--activity
          span.date 30.04.2020
          span.announcement Анонс
        .news__location.news__location--activity
          span.location Миннеаполис, Швейцария
        - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.search-tags
            each item, index in tags[0]
              li.search-tags__item
                a.search-tags__link(href="#") #{item}
          div.news__text.news__text--activity
            a(href="#").news__link
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!

  .pagination__wrapper.pagination__wrapper--activity
    include ./pagination
