section.banner
  .container.banner__container
    .banner__wrapper
      .banner__item
        .banner__header
          h3.banner__title.banner__corruption АНТИКОРРУПЦИОННАЯ ПОЛИТИКА
        .banner__footer
          .banner__content Телефон доверия: <br>
            span.banner__phone +7 499 922-38-68
      .banner__item.banner__item--short
        .banner__header
          h3.banner__title.banner__call ПОЗВОНИТЬ В ФОНД
        .banner__footer
          .banner__content Приемная: <br>
            span.banner__phone +7 499 922-38-68
      .banner__item
        .banner__header
          h3.banner__title.banner__consult КОНСУЛЬТАЦИЯ ОНЛАЙН
          form(action="#" target="_blank")
            button.button.button--banner Задать вопрос
