section.section.section__grants-text.grants-text
  h1.section__title.section__title--page Центры правовой помощи и консультаций по юридическим вопр
  .grants-text__wrapper.text-page
    p Положение о порядке предоставления грантов Фондом поддержки и защиты прав соотечественников, проживающих за рубежом
    .jquery-map(id="vmap" style="width: 100%; min-height: 500px;")
    h2.text-page__title Основные задачи правозащщ
    .text-page__content
      ul
        li Общие положения
        li Сроки приема заявок на получение гранта
        li Требования, предъявляемые к заявкам на получение грантов
        li Порядок рассмотрения заявок на получение грантов
        li Порядок заключения и исполнения договоров гранта
        li Отчет о целевом использовании гранта
        li Заключительные положения
    h2.text-page__title Основные задачи правозащщ
    .text-page__content
      ul
        li Общие положения
        li Сроки приема заявок на получение гранта
        li Требования, предъявляемые к заявкам на получение грантов
        li Порядок рассмотрения заявок на получение грантов
        li Порядок заключения и исполнения договоров гранта
        li Отчет о целевом использовании гранта
        li Заключительные положения
    h2.text-page__title Основные задачи правозащщ
    .text-page__content
      ul
        li Общие положения
        li Сроки приема заявок на получение гранта
        li Требования, предъявляемые к заявкам на получение грантов
        li Порядок рассмотрения заявок на получение грантов
        li Порядок заключения и исполнения договоров гранта
        li Отчет о целевом использовании гранта
        li Заключительные положения
      p Приложение к Положению о порядке предоставления грантов фондом поддержки и защиты прав соотечественников
      p Фонд поддержки и защиты прав соотечественников, проживающих за рубежом (далее – «Фонд»), предоставляет гранты (делает пожертвования) физическим и юридическим лицам, (за исключением коммерческих организаций) на реализацию проектов, направленных на оказание соотечественникам, проживающим за рубежом (далее соотечественники) методической, информационной, организационной, юридической помощи и материальной поддержки при защите прав, свобод и законных интересов в странах проживания. Гранты предоставляются на основании договоров, заключаемых с получателями грантов (пожертвований). Далее по тексту «гранты» и «пожертвования» вместе именуются «гранты».
      p Приоритет отдается проектам, реализация которых направлена на:



