section.section.section__centers-contact
  h1.section__title.section__title--page Правозащитные центры в Латвии
  .centers-contact__header
    ul.centers-contact__nav-list
      li.centers-contact__nav-item
        a(href="#id1").centers-contact__link Центр правовой защиты» сс
      li.centers-contact__nav-item
        a(href="#id2").centers-contact__link Центр правовой защиты» сс
  .centers-contact__wrapper
    .centers-contact__item#id1
      .centers-contact__heading
        .centers-contact__flag
        .centers-contact__title Центр правовой защиты соотечественников Российской Федерации, проживающих в Латвии
      .centers-contact__data
        .centers-contact__name.contacts-data
          span.contacts-info__before Руководитель:
          span.contacts-info__content Сысоева Людмила Александровна
        .centers-contact__email.contacts-data
          span.contacts-info__before E-mail:
          span.contacts-info__content biedriba_tac@inbox.lv
        .centers-contact__phone.contacts-data
          span.contacts-info__before Телефон:
          span.contacts-info__content +7 499 922-38-58
        .centers-contact__phone.contacts-data
          span.contacts-info__before
          span.contacts-info__content +7 499 922-38-58
      .centers-contact__map

    .centers-contact__item#id2
      .centers-contact__heading
        .centers-contact__flag
        .centers-contact__title Центр правовой защиты соотечественников Российской Федерации, проживающих в Латвии
      .centers-contact__data
        .centers-contact__name.contacts-data
          span.contacts-info__before Руководитель:
          span.contacts-info__content Сысоева Людмила Александровна
        .centers-contact__email.contacts-data
          span.contacts-info__before E-mail:
          span.contacts-info__content biedriba_tac@inbox.lv
        .centers-contact__phone.contacts-data
          span.contacts-info__before Телефон:
          span.contacts-info__content +7 499 922-38-58
        .centers-contact__phone.contacts-data
          span.contacts-info__before
          span.contacts-info__content +7 499 922-38-58
      .centers-contact__map
  .centers-contact__footer
    a.article__link.article__link--main Вернуться к списку мероприятий
