section.section.section__centers.jqvmap
  h1.section__title.section__title--page Центры правовой помощи и консультаций по юридическим вопр
  p.jqvmap__text Положение о порядке предоставления грантов Фондом поддержки и защиты прав соотечественников, проживающих за рубежом
  .b-coo-map.js-init-region-map.js-align-all-lines-subelements(data-defaultcolor='#cddfed' data-hovercolor='#ffaa02' data-selectedcolor='#2a87ce' data-regioncolor='#ffaa02' data-russiacolor='#98d1fe' data-alignlines='.b-coo-map__region' data-elements='.b-coo-map__region-name')
    .jqvmap__wrapper
      .js-init-region-map-block.b-coo-map.js-align-all-lines-subelements(id="vmap" style="width: 100%; min-height: 500px;")
    .b-coo-map__title Центры правовой помощи на карте
    ul.b-coo-map__letters
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          .centers-home__flag
          .centers-home__country-name.flag.AB Абхазия
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          .centers-home__flag
          .centers-home__country-name.flag.AZ Азербайджан

      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.BE
          |  Бельгия
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.GE
          |  Грузия
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.DK
          |  Дания
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.JO
          |  Иордания
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.IE
          |  Ирландия
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.KZ
          |  Казахстан
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.KG
          |  Киргизия
      li.b-coo-map__letter
        a.b-communities__item(href='/KITAY/')
          span.flag.CN
          |  Китай
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.KV
          |  Латвия
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.LT
          |  Литва
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.MD
          |  Молдова
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.TJ
          |  Таджикистан
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.SE
          |  Швеция
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.EE
          |  Эстония
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.PM
          |  Приднестровская Молдавская Республика
      li.b-coo-map__letter
        a.b-communities__item(href='#')
          span.flag.RU
          |  Российская Федерация

  .grants-text__wrapper.text-page
    h2.text-page__title Основные задачи правозащщ
    .text-page__content
      ul
        li Общие положения
        li Сроки приема заявок на получение гранта
        li Требования, предъявляемые к заявкам на получение грантов
        li Порядок рассмотрения заявок на получение грантов
        li Порядок заключения и исполнения договоров гранта
        li Отчет о целевом использовании гранта
        li Заключительные положения
    h2.text-page__title Основные задачи правозащщ
    .text-page__content
      ul
        li Общие положения
        li Сроки приема заявок на получение гранта
        li Требования, предъявляемые к заявкам на получение грантов
        li Порядок рассмотрения заявок на получение грантов
        li Порядок заключения и исполнения договоров гранта
        li Отчет о целевом использовании гранта
        li Заключительные положения
    h2.text-page__title Основные задачи правозащщ
    .text-page__content
      ul
        li Общие положения
        li Сроки приема заявок на получение гранта
        li Требования, предъявляемые к заявкам на получение грантов
        li Порядок рассмотрения заявок на получение грантов
        li Порядок заключения и исполнения договоров гранта
        li Отчет о целевом использовании гранта
        li Заключительные положения
      p Приложение к Положению о порядке предоставления грантов фондом поддержки и защиты прав соотечественников
      p Фонд поддержки и защиты прав соотечественников, проживающих за рубежом (далее – «Фонд»), предоставляет гранты (делает пожертвования) физическим и юридическим лицам, (за исключением коммерческих организаций) на реализацию проектов, направленных на оказание соотечественникам, проживающим за рубежом (далее соотечественники) методической, информационной, организационной, юридической помощи и материальной поддержки при защите прав, свобод и законных интересов в странах проживания. Гранты предоставляются на основании договоров, заключаемых с получателями грантов (пожертвований). Далее по тексту «гранты» и «пожертвования» вместе именуются «гранты».
      p Приоритет отдается проектам, реализация которых направлена на:



