section.section.contacts-section
  h2.section__title.section__title--page.section__title--contacts О Фонде
  article.fund-about__article.page
    .contacts__wrapper
      .contacts-info__info.contacts-info
        .contacts-info__address
          span.contacts-info__before Адрес:
          span.contacts-info__content 119002, Россия, г. Москва
        .contacts-info__phone-reception
          span.contacts-info__before Приемная:
          span.contacts-info__content +7 499 922-38-58
        .contacts-info__phone-bookkeeping
          span.contacts-info__before Бухгалтерия:
          span.contacts-info__content +7 499 922-38-68
        .contacts-info__email
          span.contacts-info__before E-mail:
          span.contacts-info__content rusfund2012@mail.ru
section.section.map
  .yandex-map#map


