section.section.contact-form
  h1.section__title.section__title--page.section__title--contacts Обратная связь
  form.contact-form#form
    .contact-form__row
      label.contact-form__block
        input(type="text" name="name" placeholder="*Ваше имя" required).contact-form__input.contact-form__input--name
    .contact-form__row
      label.contact-form__block
        input(type="email" name="name" placeholder="*Ваш е-mail" required).contact-form__input.contact-form__input--email
    .contact-form__row
      label.contact-form__block
        textarea(name="comment" placeholder="*Ваше сообщение" required).contact-form-input.contact-form-input__textarea
    .g-recaptcha
      +image("content/news-item-2.jpg", "img img--captcha")
      input(type="text" name="" placeholder="*Введите текст для защитыы" required).contact-form__input.contact-form__input--name
      .contact-form__error
    .contact-form__row
      button.button.button--send#sendButton Отправить вопрос
