section.section.library.library--sidebar
  h2.section__title Библиотека
  .main__library-wrapper.main__library-wrapper--sidebar
    .semi-library__wrapper.semi-library__wrapper--sidebar
      .library__wrapper.library__wrapper--sidebar
        .documents__wrapper.documents-download
          .documents-download__item.download__link.download__link--pdf.download__link--general.download-general
            .download-general__wrapper
              h4.download-general__heading.download-general__heading--sidebar Положение о «телефоне доверия»Положение о «телефоне доверия»Положение о «телефоне доверия»Положение о «телефоне доверия»Положение о «телефоне доверия»Положение о «телефоне доверия»
              .download-general__link.download-general-link
                a(href="#").download-general-link__item Скачать
          .documents-download__item.download__link.download__link--doc.download__link--general.download-general
            .download-general__wrapper
              h4.download-general__heading.download-general__heading--sidebar Положение о «телефоне доверия»
              .download-general__link.download-general-link
                a(href="#").download-general-link__item Скачать
          .documents-download__item.download__link.download__link--doc.download__link--general.download-general
            .download-general__wrapper
              h4.download-general__heading.download-general__heading--sidebar Положение о «телефоне доверия»
              .download-general__link.download-general-link
                a(href="#").download-general-link__item Скачать

        a.library__link.library__link--sidebar(href="#") Перейти в библиотеку

    .section__wrapper.section__wrapper--library


