section.section.fund.fund--documents.fund-documents
  h2.section__title.section__title--page.section__title--fund Документы Фонда
  article.article.documents
    .documents__wrapper.documents-download
      .documents-download__item.download__link.download__link--pdf.download__link--general.download-general
        .download-general__wrapper
          h4.download-general__heading Положение о «телефоне доверия»
          .download-general__link.download-general-link
            a(href="#").download-general-link__item Скачать
            a(href="#").download-general-link__item Скачать второй вариант
      .documents-download__item.download__link.download__link--pdf.download__link--general.download-general
        .download-general__wrapper
          h4.download-general__heading Положение о «телефоне доверия»
          .download-general__link.download-general-link
            a(href="#").download-general-link__item Скачать
            a(href="#").download-general-link__item Скачать второй вариант
      .documents-download__item.download__link.download__link--pdf.download__link--general.download-general
        .download-general__wrapper
          h4.download-general__heading Положение о «телефоне доверия»
          .download-general__link.download-general-link
            a(href="#").download-general-link__item Скачать
            a(href="#").download-general-link__item Скачать второй вариант


    .documents__footer.documents-footer
      .documents-footer__top Другие подразделы докумее
        ul.documents-footer__list
          li.documents-footer__item
            a.documents-footer__link.documents__link Все документы о соотечесс
          li.documents-footer__item
            a.documents-footer__link.documents__link Все основные международнн
          li.documents-footer__item
            a.documents-footer__link.documents__link Все ежегодные отчёты Фонда
      .documents-footer__bottom
        a.article__link.article__link--main Вернуться к списку мероприятий
