section.section.faq
  h2.section__title ПРИМЕРЫ РЕАЛИЗОВАННЫХ ПРОЕКТОВ
  .faq__wrapper
    .news__item.news__item--faq
      .news__header
        .news__heading.news__heading--faq
          a(href="#").news__link
            h3.news__title Что такое субсидия?
        .news__open.news__open--faq
      .news__content.news__content--faq
        .news__text.news__text--faq
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis, facilis harum, impedit itaque iure natus provident quas, quos sequi vero voluptate voluptatem? Atque, deserunt eaque eius facere nostrum odit officia! Consequatur culpa illum iure nobis nulla pariatur reprehenderit tempora?
    .news__item.news__item--faq
      .news__header
        .news__heading.news__heading--faq
          a(href="#").news__link
            h3.news__title Что такое субсидия?
        .news__open.news__open--faq
      .news__content.news__content--faq
        .news__text.news__text--faq
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis, facilis harum, impedit itaque iure natus provident quas, quos sequi vero voluptate voluptatem? Atque, deserunt eaque eius facere nostrum odit officia! Consequatur culpa illum iure nobis nulla pariatur reprehenderit tempora?
    .news__item.news__item--faq
      .news__header
        .news__heading.news__heading--faq
          a(href="#").news__link
            h3.news__title Что такое субсидия?
        .news__open.news__open--faq
      .news__content.news__content--faq
        .news__text.news__text--faq
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis, facilis harum, impedit itaque iure natus provident quas, quos sequi vero voluptate voluptatem? Atque, deserunt eaque eius facere nostrum odit officia! Consequatur culpa illum iure nobis nulla pariatur reprehenderit tempora?


