footer.footer
  .footer__info
    .container.footer-info__container
      a(href="#" alt="#").footer__logo
        +icon('footer__logo', 'footer-logo__icon')
      .footer-print__wrapper
        .footer__copyright.copyright
          p.copyright__name © Фонд поддержки и защиты прав соотечественников, проживающих за рубежом.   2012-2020
          p.copyright__executor Исполнитель проекта:
            a.executor__link Институт Русского зарубежья
          p.copytight__warning Cайт Фонда поддержки и защиты прав соотечественников, проживающих за рубежом, является средством массовой информации. <br> Позиция редакции не всегда совпадает с точкой зрения авторов. <br>При полном или частичном использовании материалов ссылка на www.pravfond.ru обязательна.

        .footer__contacts
          .footer-contacts__wrapper
            .footer-menu__heading Контакты
            ul.contacts
              li.contacts__item
                a.contacts__link.address(href="#") 119200, Россия, г. Москва, ул. Арбат 55/32 каб. 310
              li.contacts__item
                a.contacts__link.phone(href="#") +7 499 922-38-58
              li.contacts__item
                a.contacts__link.email(href="#") E-mail: rusfund2012@mail.ru
