section.section.reports
  h2.section__title.section__title--page.section__title--reports ЕЖЕГОДНЫЕ ОТЧЕТЫ
  .reports__wrapper
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        .documents-download__item.documents-download__item--reports.download__link.download__link--pdf
          .download-general__link.download-general__link--reports.download-general-link
            a(href="#").download-general-link__item.download-general-link__item--reports Скачать отчёт за 2019 год
            a(href="#").download-general-link__item.download-general-link__item--reports Открыть в новой вкладке
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        .documents-download__item.documents-download__item--reports.download__link.download__link--pdf
          .download-general__link.download-general__link--reports.download-general-link
            a(href="#").download-general-link__item.download-general-link__item--reports Скачать отчёт за 2019 год
            a(href="#").download-general-link__item.download-general-link__item--reports Открыть в новой вкладке
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        .documents-download__item.documents-download__item--reports.download__link.download__link--pdf
          .download-general__link.download-general__link--reports.download-general-link
            a(href="#").download-general-link__item.download-general-link__item--reports Скачать отчёт за 2019 год
            a(href="#").download-general-link__item.download-general-link__item--reports Открыть в новой вкладке
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        .documents-download__item.documents-download__item--reports.download__link.download__link--pdf
          .download-general__link.download-general__link--reports.download-general-link
            a(href="#").download-general-link__item.download-general-link__item--reports Скачать отчёт за 2019 год
            a(href="#").download-general-link__item.download-general-link__item--reports Открыть в новой вкладке
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        .documents-download__item.documents-download__item--reports.download__link.download__link--pdf
          .download-general__link.download-general__link--reports.download-general-link
            a(href="#").download-general-link__item.download-general-link__item--reports Скачать отчёт за 2019 год
            a(href="#").download-general-link__item.download-general-link__item--reports Открыть в новой вкладке
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        .documents-download__item.documents-download__item--reports.download__link.download__link--pdf
          .download-general__link.download-general__link--reports.download-general-link
            a(href="#").download-general-link__item.download-general-link__item--reports Скачать отчёт за 2019 год
            a(href="#").download-general-link__item.download-general-link__item--reports Открыть в новой вкладке

