section.section.fund.fund--politics.fund-politics
  h2.section__title.section__title--page.section__title--fund Антикоррупционная политика Фонда
  article.fund-politics__article.page.page--politics
    .page__content
      p.page-content__text В целях реализации Федерального закона от 25 декабря 2008 года N 273-ФЗ «О противодействии коррупции», Указа Президента России от 02.04.2013 № 309 «О мерах по реализации отдельных положений Федерального закона «О противодействии коррупции», а также в целях исполнения пункта 2.1 Плана антикоррупционных мероприятий в Фонде поддержки и защиты прав соотечественников, проживающих за рубежом, организовано выделение телефонного номера <span class="page-content__phone">+7 (499) 922-38-68</span> для установки «телефона доверия».
  .fund-politics__documents.fund-politics-documents
    .fund-politics-documents__wrapper.documents-download
      .documents-download__item.download__link.download__link--pdf.download__link--general.download-general
        .download-general__wrapper
          h4.download-general__heading Положение о «телефоне доверия»
          .download-general__link.download-general-link
            a(href="#").download-general-link__item Скачать
            a(href="#").download-general-link__item Скачать второй вариант
    .documents-download__more Все документы Фонда

