section.section.props
  h2.section__title.section__title--page.section__title--props РЕКВИЗИТЫ ФОНДА
  .props__wrapper
    .props__item.prop
      .prop__heading
        h3 ОГРН
      .prop__text
        p 1117799023330
        p от 21 ноября 2011 г.
    .props__item.prop
      .prop__heading
        h3 ОГРН
      .prop__text
        p 1117799023330
        p от 21 ноября 2011 г.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, commodi minima molestiae officia quod recusandae sed voluptatibus. Aliquam atque, cumque dolores eius magni necessitatibus provident quaerat soluta tempora tenetur vel.
    .props__item.prop
      .prop__heading
        h3 ОГРН
      .prop__text
        p 1117799023330
        p от 21 ноября 2011 г.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, commodi minima molestiae officia quod recusandae sed voluptatibus. Aliquam atque, cumque dolores eius magni necessitatibus provident quaerat soluta tempora tenetur vel.
    .props__item.prop
      .prop__heading
        h3 ОГРН
      .prop__text
        p 1117799023330
        p от 21 ноября 2011 г.
    .props__item.prop
      .prop__heading
        h3 ОГРН
      .prop__text
        p 1117799023330
        p от 21 ноября 2011 г.



