section.section.fund.fund--about.fund-about
  h2.section__title.section__title--page.section__title--fund О Фонде
  article.fund-about__article.page
    .page__header
    .page__content
      p.page-content__text Некоммерческая организация Фонд поддержки и защиты прав соотечественников, проживающих за рубежом, создан Указом Президента Российской Федерации и приступил к работе с 1 января 2012 года.
      p.page-content__text Учредителями Фонда являются МИД России и Федеральное агентство Россотрудничество.
      .page-content__images.page-content-images
        .page-content-images__item
         +image("content/fund-content-1.png", "article-content__img")
        .page-content-images__item
          +image("content/fund-content-2.png", "article-content__img")
      p.page-content__text Целью Фонда является оказание российским соотечественникам всесторонней правовой и иной необходимой поддержки в случаях нарушения их прав, свобод и законных интересов в соответствии с общепризнанными принципами и нормами международного права в области прав человека. Фонд осуществляет свою деятельность во имя развития демократии, социальной справедливости, уважения прав и свобод человека и национальных меньшинств, совершенствования отношений между человеком и обществом, между человеком и государством и воспитание гражданственности. Целевая правовая помощь отдельным соотечественникам и правозащитным организациям оказывается путём выделения грантов и субсидий, с порядком и условиями предоставления которых можно ознакомится на соответствующих разделах сайта.
      a.page-content__link asdfasdfasdfsadf
      h4.page-content__heading Цели
      p.page-content__text Некоммерческая организация Фонд поддержки и защиты прав соотечественников, проживающих за рубежом, создан Указом Президента Российской Федерации и приступил к работе с 1 января 2012 года. Учредителями Фонда являются МИД России и Федеральное агентство Россотрудничество.
      p.page-content__text Некоммерческая организация Фонд поддержки и защиты прав соотечественников, проживающих за рубежом, создан Указом Президента Российской Федерации и приступил к работе с 1 января 2012 года. Учредителями Фонда являются МИД России и Федеральное агентство Россотрудничество.
      h4.page-content__heading Цели
      p.page-content__text Некоммерческая организация Фонд поддержки и защиты прав соотечественников, проживающих за рубежом, создан Указом Президента Российской Федерации и приступил к работе с 1 января 2012 года. Учредителями Фонда являются МИД России и Федеральное агентство Россотрудничество.
      p.page-content__text Некоммерческая организация Фонд поддержки и защиты прав соотечественников, проживающих за рубежом, создан Указом Президента Российской Федерации и приступил к работе с 1 января 2012 года. Учредителями Фонда являются МИД России и Федеральное агентство Россотрудничество.
      h4.page-content__heading Цели
      p.page-content__text Некоммерческая организация Фонд поддержки и защиты прав соотечественников, проживающих за рубежом, создан Указом Президента Российской Федерации и приступил к работе с 1 января 2012 года. Учредителями Фонда являются МИД России и Федеральное агентство Россотрудничество.
      p.page-content__text Некоммерческая организация Фонд поддержки и защиты прав соотечественников, проживающих за рубежом, создан Указом Президента Российской Федерации и приступил к работе с 1 января 2012 года. Учредителями Фонда являются МИД России и Федеральное агентство Россотрудничество.

    .page__footer

