section.section.fund.fund--block-photo.fund-block-photo
  h1.section__title.section__title--page.section__title--fund Документы Фонда
  article.block-photo
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, beatae, distinctio dolorem earum eius, eum explicabo facere fuga impedit incidunt minus necessitatibus non porro possimus quaerat quos sapiente tenetur unde voluptas voluptates. Accusantium, beatae cupiditate reiciendis rerum sed soluta voluptatibus.
    .block-photo__wrapper
      .block-photo__item.block-photo__item--solo
        .block-photo__image.block-photo__image--solo
          a(href="#").news__link
            .block-photo__img
        .block-photo__content.block-photo__content--solo
          h2.block-photo__heading
            a(href="#").news__link.news__link--flex <span class="block-photo__heading--surname">ПОЗДОРОВКИН</span> Владимир Георгиевич
          p.block-photo__text
            a(href="#").news__link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consectetur distinctio ducimus eligendi error esse, ex incidunt, inventore laborum mollitia necessitatibus officiis quaerat quas repudiandae saepe, similique totam ullam unde velit! Aperiam culpa cumque cupiditate deleniti dolor dolore ea ex minima, obcaecati officia pariatur quasi quia, quos vel voluptates.
      .block-photo__item.block-photo__item--trio
        .block-photo__image.block-photo__image--trio
          a(href="#").news__link
            .block-photo__img
        .block-photo__content.block-photo__content--trio
          h2.block-photo__heading
            a(href="#").news__link.news__link--flex <span class="block-photo__heading--surname">ПОЗДОРОВКИН</span> Владимир Георгиевич
          p.block-photo__text
            a(href="#").news__link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consectetur distinctio ducimus eligendi error esse, ex incidunt, inventore laborum mollitia necessitatibus officiis quaerat quas repudiandae saepe, similique totam ullam unde velit! Aperiam culpa cumque cupiditate deleniti dolor dolore ea ex minima, obcaecati officia pariatur quasi quia, quos vel voluptates.
      .block-photo__item.block-photo__item--trio
        .block-photo__image.block-photo__image--trio
          a(href="#").news__link
            .block-photo__img
        .block-photo__content.block-photo__content--trio
          h2.block-photo__heading
            a(href="#").news__link.news__link--flex <span class="block-photo__heading--surname">ПОЗДОРОВКИН</span> Владимир Георгиевич
          p.block-photo__text
            a(href="#").news__link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consectetur distinctio ducimus eligendi error esse, ex incidunt, inventore laborum mollitia necessitatibus officiis quaerat quas repudiandae saepe, similique totam ullam unde velit! Aperiam culpa cumque cupiditate deleniti dolor dolore ea ex minima, obcaecati officia pariatur quasi quia, quos vel voluptates.
      .block-photo__item.block-photo__item--trio
        .block-photo__image.block-photo__image--trio
          a(href="#").news__link
            .block-photo__img
        .block-photo__content.block-photo__content--trio
          h2.block-photo__heading
            a(href="#").news__link.news__link--flex <span class="block-photo__heading--surname">ПОЗДОРОВКИН</span> Владимир Георгиевич
          p.block-photo__text
            a(href="#").news__link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consectetur distinctio ducimus eligendi error esse, ex incidunt, inventore laborum mollitia necessitatibus officiis quaerat quas repudiandae saepe, similique totam ullam unde velit! Aperiam culpa cumque cupiditate deleniti dolor dolore ea ex minima, obcaecati officia pariatur quasi quia, quos vel voluptates.
      .block-photo__item.block-photo__item--trio
        .block-photo__image.block-photo__image--trio
          a(href="#").news__link
            .block-photo__img
        .block-photo__content.block-photo__content--trio
          h2.block-photo__heading
            a(href="#").news__link.news__link--flex <span class="block-photo__heading--surname">ПОЗДОРОВКИН</span> Владимир Георгиевич
          p.block-photo__text
            a(href="#").news__link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consectetur distinctio ducimus eligendi error esse, ex incidunt, inventore laborum mollitia necessitatibus officiis quaerat quas repudiandae saepe, similique totam ullam unde velit! Aperiam culpa cumque cupiditate deleniti dolor dolore ea ex minima, obcaecati officia pariatur quasi quia, quos vel voluptates.
      .block-photo__item.block-photo__item--trio
        .block-photo__image.block-photo__image--trio
          a(href="#").news__link
            .block-photo__img
        .block-photo__content.block-photo__content--trio
          h2.block-photo__heading
            a(href="#").news__link.news__link--flex <span class="block-photo__heading--surname">ПОЗДОРОВКИН</span> Владимир Георгиевич
          p.block-photo__text
            a(href="#").news__link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consectetur distinctio ducimus eligendi error esse, ex incidunt, inventore laborum mollitia necessitatibus officiis quaerat quas repudiandae saepe, similique totam ullam unde velit! Aperiam culpa cumque cupiditate deleniti dolor dolore ea ex minima, obcaecati officia pariatur quasi quia, quos vel voluptates.
      .block-photo__item.block-photo__item--trio
        .block-photo__image.block-photo__image--trio
          a(href="#").news__link
            .block-photo__img
        .block-photo__content.block-photo__content--trio
          h2.block-photo__heading
            a(href="#").news__link.news__link--flex <span class="block-photo__heading--surname">ПОЗДОРОВКИН</span> Владимир Георгиевич
          p.block-photo__text
            a(href="#").news__link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consectetur distinctio ducimus eligendi error esse, ex incidunt, inventore laborum mollitia necessitatibus officiis quaerat quas repudiandae saepe, similique totam ullam unde velit! Aperiam culpa cumque cupiditate deleniti dolor dolore ea ex minima, obcaecati officia pariatur quasi quia, quos vel voluptates.


