section.section.reports
  h2.section__title.section__title--page.section__title--reports ЕЖЕГОДНЫЕ ОТЧЕТЫ
  .reports__wrapper
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        a.download__link.download__link--pdf Скачать отчет за 2019 год
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        a.download__link.download__link--pdf Скачать отчет за 2019 год
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        a.download__link.download__link--pdf Скачать отчет за 2019 год
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        a.download__link.download__link--pdf Скачать отчет за 2019 год
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        a.download__link.download__link--pdf Скачать отчет за 2019 год
    .reports__item.report
      .report__image
        +image("content/fund-content-3.jpg", "img report__img")
      .report__download
        a.download__link.download__link--pdf Скачать отчет за 2019 год
