section.section.activity.activity--item
  h1.section__title.section__title--page Поздоровкин Владимир Георгиевич
  article.article
    .article__main.article-main
      .article-main__header
        .news__image.news__image--article
          a(href="#").news__link
            +image("content/fund-directorate-page-1.jpg", "article__img--directorate-page")
        .news__text.news__text--article
          a(href="#").news__link.news__link--placement
            p Исполнительный директор Фонда поддержки и защиты соотечественников, проживающих за рубежом.
            a(href="#").news__search Интервью и публикации
      .article-main__content
        h2 Краткая биография
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, enim?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aspernatur autem consequatur cupiditate debitis dolore doloremque ea eius error eum fugiat inventore itaque iure minus <a class="article__link">Это ссылка!</a> modi nemo nesciunt, nihil nobis odio optio perferendis praesentium quae quasi totam vel voluptate. Consequuntur dignissimos eius in iusto magnam officiis placeat, sunt voluptatem!

      .article-main__footer.article-main-footer
        .article-main-footer__item
          a.article__link.article__link--main Вернуться к списку мероприятий
