section.section.section__grants-text.grants-text
  h1.section__title.section__title--page Положение о субсидиях
  .grants-text__wrapper.text-page.text-page--print
    h2.text-page__title ПОЛОЖЕНИЕ О ПОРЯДКЕ ПРЕДОСТАВЛЕНИЯ СУБСИДИЙ ФОНДОМ ПОДДЕРЖКИ И ЗАЩИТЫ ПРАВ СООТЕЧЕСТВЕННИКОВ, ПРОЖИВАЮЩИХ ЗА РУБЕЖОМ
    .text-page__header.no-print
      .print__version Версия для печати
      .print__link
    .text-page__content
      p Положение о порядке предоставления грантов Фондом поддержки и защиты прав соотечественников, проживающих за рубежом

      p Утверждено Управляющим Советом Фонда поддержки и защиты прав соотечественников, проживающих за рубежом (протокол заседания № 2 от 27.03.2012 г.)
      ol
        li
          a(href="") Общие положения
        li
          a(href="") Сроки приема заявок на получение гранта
        li
          a(href="") Требования, предъявляемые к заявкам на получение грантов
        li
          a(href="") Порядок рассмотрения заявок на получение грантов
        li
          a(href="") Порядок заключения и исполнения договоров гранта
        li
          a(href="") Отчет о целевом использовании гранта
        li
          a(href="") Заключительные положения

      p
        a Приложение к Положению о порядке предоставления грантов фондом поддержки и защиты прав соотечественников

      h3 I. Общие положения

      p Фонд поддержки и защиты прав соотечественников, проживающих за рубежом (далее – «Фонд»), предоставляет гранты (делает пожертвования) физическим и юридическим лицам, (за исключением коммерческих организаций) на реализацию проектов, направленных на оказание соотечественникам, проживающим за рубежом (далее соотечественники) методической, информационной, организационной, юридической помощи и материальной поддержки при защите прав, свобод и законных интересов в странах проживания. Гранты предоставляются на основании договоров, заключаемых с получателями грантов (пожертвований). Далее по тексту «гранты» и «пожертвования» вместе именуются «гранты».
      p Приоритет отдается проектам, реализация которых направлена на:
        ul
          li мониторинг правового положения соотечественников в государствах их постоянного проживания.
          li содействие деятельности неправительственных организаций в сфере защиты прав соотечественников в государствах их постоянного проживания;
          li создание и поддержку деятельности центров правовой защиты при  координационных советах объединений соотечественников в странах ближнего и дальнего зарубежья;
          li оказание методического, организационного и правового содействия организациям соотечественников и иным НПО в обеспечении прав, свобод и законных интересов соотечественников в зарубежных государствах;
          li оказание соотечественникам юридической помощи и материальной поддержки, в том числе посредством привлечения адвокатов и иных экспертов при защите прав, свобод и законных интересов соотечественников в органах власти страны проживания, а также национальных и международных судах;
          li проведение научных и исследовательских работ в области международного и национального законодательства, проблематики защиты прав, свобод и законных интересов соотечественников;
          li содействие деятельности российских и зарубежных СМИ по подготовке проведению отдельных  акций и целевых информационных телевизионных и радиопрограмм, компаний в печатных  изданиях и подготовке тематических  публикаций, посвящённых  защите законных прав соотечественников в государствах их постоянного проживания;
          li проведение международных, региональных и двухсторонних мероприятий (конференций, семинаров, симпозиумов, совещаний, “круглых столов”, брифингов и презентаций) с участием российских и зарубежных официальных лиц, общественных деятелей, представителей объединений соотечественников и СМИ, юристов, учёных, экспертов по проблематике, связанной с целями и задачами Фонда в России и за рубежом;
          li поощрение активной правозащитной деятельности, как неправительственных организаций, так и отдельных физических лиц.

    .text-page__footer.no-print
      .print__version Версия для печати
      .print__link
