section.grants-form__section
  .news__heading.news__heading--request-status
    h2.news__title.news__title--request-status Поиск заявки
  form.form.form--request-status
    .form__row
      label.form__block.form__block--code.label
        input(type="text" placeholder="Код*" required).request-status__input.request-status__input--code
        span.request-status__span или
      label.form__block.form__block--name.label
        input(type="text" placeholder="Наименование соискателя*" required).request-status__input.request-status__input--name

      label.form__block.form__block--select.label
        select(required).request-status__select-list.select__list
          option(value="none" disabled selected).select__item Выбрать статус
          option(value="1").select__item Все
          option(value="2").select__item Заявка поступила
          option(value="3").select__item На рассмотрении
          option(value="4").select__item Поддержано
          option(value="5").select__item Поддержано с оговорками
          option(value="6").select__item Отложить
          option(value="7").select__item Не поддерживать / Отклонить
          option(value="8").select__item Заявка отозвана
          option(value="9").select__item Не принято к рассмотрению
        button.form__block--search.search__block
          - var icons = ["search-icon"]
          each item in icons
            +icon(item, "search-icon search-icon--request-status")
