section.grants-request-status
  .news__heading.news__heading--request-status
    h2.news__title.news__title--request-status Определения статуса заявки
  .definition__wrapper
    .definition__item
      .definition__heading
        h3.definition__title Заявка поступила
      .definition__content
        p.definition__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt ea eos ut vitae! Architecto beatae enim eos fugiat inventore nisi quidem ratione sunt! Atque modi necessitatibus sunt tempore voluptatibus! Accusamus corporis distinctio ea earum eligendi labore minima nemo odit, provident quis rem rerum sapiente soluta? Dolores eius laborum voluptas.
    .definition__item
      .definition__heading
        h3.definition__title Заявка поступила
      .definition__content
        p.definition__text Описание статуса заявки.
    .definition__item
      .definition__heading
        h3.definition__title Заявка поступила
      .definition__content
        p.definition__text Описание статуса заявки.
    .definition__item
      .definition__heading
        h3.definition__title Заявка поступила
      .definition__content
        p.definition__text Описание статуса заявки.
