section.grants-status__section
  .news__heading.news__heading--request-status
    h2.news__title.news__title--request-status Статус заявки
  .request-status__content-wrapper
    .request-status__list
      .request-status__item.request
        .request__date
          p 2019/II-300
        .request__name
          p Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии
        .request__status
          p На рассмотрении
      .request-status__item.request
        .request__date
          p 2019/II-300
        .request__name
          p Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии
        .request__status
          p На рассмотрении
      .request-status__item.request
        .request__date
          p 2019/II-300
        .request__name
          p Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии2019/II-300  Фонд "Устойчивое развитии
        .request__status
          p На рассмотрении
    .pagination__wrapper.pagination__wrapper--activity
      include ./pagination
