header.header
  .container.header-container
    a(href="./index.html").header__left
      +icon('header__logo', 'header-logo__img')
    .header__right
      - var icons = ["header__fb", "header__vk", "header__ok"];
        ul.socials.header__socials
          each item in icons
            li.socials__item
              a(href="#").socials__link
                +icon(item, "socials__icon")
        form.search(
          action="/search/"
        )
          label.search__block
            input(type="text" name="name" placeholder="" required).search__input
            button.search-icon__button

