header.header
  .container.header-container
    a(href="#").header__left
      +icon('header__logo', 'header-logo__img')
    .header__right
      - var icons = ["header__fb", "header__vk", "header__ok"];
        ul.socials.header__socials
          each item in icons
            li.socials__item
              a(href="#").socials__link
                +icon(item, "socials__icon")
        .search#search-link
          label.search__block
            input(type="text" name="name" placeholder="" required).search__input
          - var icons = ["search-icon"]
            each item in icons
              +icon(item, "search-icon")
        .burger-menu#hamburger-menu-link
          - var icons = ["menu"]
            each item in icons
              +icon(item, "menu-icon")

        //- Бургер-меню для планшетов и телефонов

        nav.hamburger-menu#hamburger-menu
          .burger-header__menu
            - var menu = [['Об издании', 'Рекламодателям', 'Контакты'], ['main', 'popular', 'short']];
            ul.header__menu-list
              each item, index in menu[0]
                li.header__menu-item
                  a.header__menu-link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
          - var menu = [['Экономика', 'Власть'], ['slider-form', 'slider-form']];
          ul.menu__list
            each item, index in menu[0]
              li.menu__item
                a.menu__link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
          - var icons = ["header__fb", "header__tw", "header__vk", "header__ok","header__tg", "header__yt"];
            ul.socials.hamburger-menu__socials
              each item in icons
                li.socials__item
                  a.socials__link(href="#" target="_blank")
                    +icon(`${item}`, 'socials__icon')
            a.close-button#close-nav-button(href="#")
              +icon('popUp-close', 'close-button__img', '20')
