section.section.library
  h2.section__title Библиотека
  .main__library-wrapper
    a(href='#' role='button').library__buttons.library__left
      +icon('arrow', 'library-arrow__icon library-arrow__icon--left')
    .semi-library__wrapper
      .library__wrapper
        .library__item
          .library__content
            .library__header
              .library__image
                +image("content/library-1.jpg", "library-img")
              .library__description.book
                .book__name
                  a Русские судьбы Эстонии Русские в Уругвае: история и современность Русские в Уругвае: история и современность Русские в Уругвае: история и современность Русские в Уругвае: история и современность
                .book__year 2017 г.
                .book__format Формат: PDF
                .book__pages Кол-во страниц: 460
                a.download__link.download__link--pdf Скачать
        .library__item
          .library__content
            .library__header
              .library__image
                +image("content/library-2.jpg", "library-img")
              .library__description.book
                .book__name
                  a Русские в Уругвае: история и современность
                .book__year 2017 г.
                .book__format Формат: PDF
                .book__pages Кол-во страниц: 460
                a.download__link.download__link--pdf Скачать
        .library__item
          .library__content
            .library__header
              .library__image
                +image("content/library-3.jpg", "library-img")
              .library__description.book
                .book__name
                  a Русские соотечественники в Черногории
                .book__year 2017 г.
                .book__format Формат: PDF
                .book__pages Кол-во страниц: 460
                a.download__link.download__link--pdf Скачать
        .library__item
          .library__content
            .library__header
              .library__image
                +image("content/library-3.jpg", "library-img")
              .library__description.book
                .book__name
                  a Русские соотечественники в Черногории
                .book__year 2017 г.
                .book__format Формат: PDF
                .book__pages Кол-во страниц: 460
                a.download__link.download__link--pdf Скачать
        .library__item
          .library__content
            .library__header
              .library__image
                +image("content/library-3.jpg", "library-img")
              .library__description.book
                .book__name
                  a Русские соотечественники в Черногории
                .book__year 2017 г.
                .book__format Формат: PDF
                .book__pages Кол-во страниц: 460
                a.download__link.download__link--pdf Скачать
        .library__item
          .library__content
            .library__header
              .library__image
                +image("content/library-3.jpg", "library-img")
              .library__description.book
                .book__name
                  a Русские соотечественники в Черногории
                .book__year 2017 г.
                .book__format Формат: PDF
                .book__pages Кол-во страниц: 460
                a.download__link.download__link--pdf Скачать
      a.library__link(href="#") Перейти в библиотеку
    a(href='#' role='button').library__buttons.library__right
      +icon('arrow', 'library-arrow__icon library-arrow__icon--right')
  .section__wrapper.section__wrapper--library
