nav.menu
  .container.menu__container
    - var menu = [['Главная', 'Фонд', 'Гранты и субсидии', 'Правозащитные центры', 'Мероприятия', 'Пресс-центр', 'Контакты'], []];
      ul#horizontal-multilevel-menu.menu__list
        each item, index in menu[0]
          if index == 0
            li
              a.menu__link.root-item-selected(href="#" + menu[1][index]) #{item}
              ul
                li Новости
                li.item-selected Статьи
                li Мероприятия
                li Медиа
                li Библиотека
          else
            li
              a.menu__link.root-item(href="#" + menu[1][index]) #{item}
              ul
                li Новости
                li.item-selected Статьи
                li asdf
                li Медиа
                li Библиотека


        //- Бургер-меню для планшетов и телефонов
    a.burger-menu#hamburger-menu-link(href="#")
      - var icons = ["menu"]
      each item in icons
        +icon(item, "menu-icon")
    - var icons = ["header__fb", "header__vk", "header__ok"];
    .phones__nav
      ul.socials.header__socials
        each item in icons
          li.socials__item
            a(href="#").socials__link
              +icon(item, "socials__icon")
      .search#search-link
        label.search__block
          input(type="text" name="name" placeholder="" required).search__input
        - var icons = ["search-icon"]
        each item in icons
          +icon(item, "search-icon")

    nav#hamburger-menu.hamburger-menu
      .burger-header__menu
      .menu-sitemap-tree
        ul
          li
            .page
            .item-text.active
              a(href='/') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
          li.menu-open
            .folder(onclick='OpenMenuNode(this)')
            .item-text.active
              a(href='/about/') &Fcy;&ocy;&ncy;&dcy;
            ul
              li
                .page
                .item-text
                  a(href='/') &Ocy; &fcy;&ocy;&ncy;&dcy;&iecy;
              li
                .page
                .item-text
                  a(href='/about/popechitelskiy-sovet.php') &Pcy;&ocy;&pcy;&iecy;&chcy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&icy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy;
              li
                .page
                .item-text
                  a(href='/about/upravlyayushchiy-sovet.php') &Ucy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&yucy;&shchcy;&icy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy;
              li
                .page
                .item-text
                  a(href='/about/pravlenie-fonda.php') &Pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &fcy;&ocy;&ncy;&dcy;&acy;
              li
                .page
                .item-text
                  a(href='/about/ispolnitelnaya-direktsiya.php') &Icy;&scy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &dcy;&icy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy;
              li
                .page
                .item-text
                  a(href='/about/revizionnaya-komissiya.php') &Rcy;&iecy;&vcy;&icy;&zcy;&icy;&ocy;&ncy;&ncy;&acy;&yacy; &kcy;&ocy;&mcy;&icy;&scy;&scy;&icy;&yacy;
              li
                .page
                .item-text.active
                  a(href='/about/antikorruptsionnaya-politika.php') &Acy;&ncy;&tcy;&icy;&kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&ncy;&acy;&yacy; &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy;
              li
                .page
                .item-text
                  a(href='/about/dokumenty.php') &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
          li.menu-close
            .folder(onclick='OpenMenuNode(this)')
            .item-text
              a(href='/granty-i-subsidii/') &Gcy;&rcy;&acy;&ncy;&tcy;&ycy; &icy; &scy;&ucy;&bcy;&scy;&icy;&dcy;&icy;&icy;
            ul
              li
                .page
                .item-text
                  a(href='/granty-i-subsidii/polozhenie-o-grantakh.php') &Pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; &ocy; &gcy;&rcy;&acy;&ncy;&tcy;&acy;&khcy;
              li
                .page
                .item-text
                  a(href='/granty-i-subsidii/polozhenie-o-subsidiyakh.php') &Pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; &ocy; &scy;&ucy;&bcy;&scy;&icy;&dcy;&icy;&yacy;&khcy;
              li
                .page
                .item-text
                  a(href='/granty-i-subsidii/formulyary.php') &Fcy;&ocy;&rcy;&mcy;&ucy;&lcy;&yacy;&rcy;&ycy;
              li
                .page
                .item-text
                  a(href='/granty-i-subsidii/rekomendatsii-po-oformleniyu.php') &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&acy;&tscy;&icy;&icy; &pcy;&ocy; &ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&yucy;
              li
                .page
                .item-text
                  a(href='/granty-i-subsidii/status-zayavki.php') &Scy;&tcy;&acy;&tcy;&ucy;&scy; &zcy;&acy;&yacy;&vcy;&kcy;&icy;
          li
            .page
            .item-text.active
              a(href='/pravozashchitnye-tsentry/') &Pcy;&rcy;&acy;&vcy;&ocy;&zcy;&acy;&shchcy;&icy;&tcy;&ncy;&ycy;&iecy; &tscy;&iecy;&ncy;&tcy;&rcy;&ycy;
          li
            .page
            .item-text
              a(href='/meropriyatiya/') &Mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy;
          li
            .page
            .item-text
              a(href='/press-tsentr/') &Pcy;&rcy;&iecy;&scy;&scy;-&tscy;&iecy;&ncy;&tcy;&rcy;
          li
            .page
            .item-text
              a(href='/kontakty/') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;


      a.close-button#close-nav-button(href="#")
        +icon('popUP-close', 'close-button__img', '20')
