nav.menu
  .container.menu__container
    - var menu = [['Главная', 'Фонд', 'Гранты и субсидии', 'Правозащитные центры', 'Мероприятия', 'Пресс-центр', 'Контакты'], []];
      ul#horizontal-multilevel-menu.menu__list
        each item, index in menu[0]
          if index == 0
            li
              a.menu__link.root-item-selected(href="#"+ menu[1][index]) #{item}
              ul
                li Новости
                li.item-selected Статьи
                li Мероприятия
                li Медиа
                li Библиотека

          else
            li
              a.menu__link.root-item(href="#"+ menu[1][index]) #{item}
              ul
                li Новости
                li.item-selected Статьи
                li asdf
                li Медиа
                li Библиотека


        //- Бургер-меню для планшетов и телефонов
    a.burger-menu#hamburger-menu-link(href="#")
      - var icons = ["menu"]
        each item in icons
          +icon(item, "menu-icon")
    - var icons = ["header__fb", "header__vk", "header__ok"];
    .phones__nav
      ul.socials.header__socials
        each item in icons
          li.socials__item
            a(href="#").socials__link
              +icon(item, "socials__icon")
      .search#search-link
        label.search__block
          input(type="text" name="name" placeholder="" required).search__input
        - var icons = ["search-icon"]
          each item in icons
            +icon(item, "search-icon")

    nav.hamburger-menu#hamburger-menu
      - var menu = [['Главная', 'Фонд', 'Гранты и субсидии', 'Правозащитные центры', 'Мероприятия', 'Пресс-центр', 'Контакты'], ['О грантах и субсидиях']];
      ul.menu__list--hamburger
        each item, index in menu[0]
          if index == 0
            li.menu__item.menu__item--hamburger.menu__item--displayed
              div.menu__link
                a #{item}
              div.menu__semi-link
                ul.menu__semi-list
                  li
                    a.menu__semi-main-link(href="#") Перейти на страницу
                      ul
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня

          else
            li.menu__item.menu__item--hamburger
              div.menu__link
                a #{item}
              div.menu__semi-link
                ul.menu__semi-list
                  li
                    a.menu__semi-main-link(href="#") Перейти на страницу
                      ul
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня
                        li.menu__semi-item Нажми на меня

        a.close-button#close-nav-button(href="#")
          +icon('popUP-close', 'close-button__img', '20')
