section.section.nav__sidebar
  ul#right-menu
    li
      a.root-item-selected(href='/about/') &Ocy; &fcy;&ocy;&ncy;&dcy;&iecy;
    li
      a.root-item(href='/about/popechitelskiy-sovet/') &Pcy;&ocy;&pcy;&iecy;&chcy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&icy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy;
    li
      a.root-item(href='/about/upravlyayushchiy-sovet/') &Ucy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&yucy;&shchcy;&icy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy;
    li
      a.root-item(href='/about/pravlenie-fonda/') &Pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &fcy;&ocy;&ncy;&dcy;&acy;
    li
      a.root-item(href='/about/ispolnitelnaya-direktsiya/') &Icy;&scy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &dcy;&icy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy;
    li
      a.root-item(href='/about/revizionnaya-komissiya/') &Rcy;&iecy;&vcy;&icy;&zcy;&icy;&ocy;&ncy;&ncy;&acy;&yacy; &kcy;&ocy;&mcy;&icy;&scy;&scy;&icy;&yacy;
    li
      a.root-item(href='/about/antikorruptsionnaya-politika/') &Acy;&ncy;&tcy;&icy;&kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&ocy;&ncy;&ncy;&acy;&yacy; &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy;
    li
      a.root-item(href='/about/dokumenty/') &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
  .section__wrapper

