section.section.position
  h1.section__title Позиция
  .position__wrapper
    .position__item
      .news__content.news__content--position
        .news__date.news__date--pencil.news__date--position
          span.date.date--slash 30.04.2020
          br
          span.author
            a(href="#").position__link--author Мария БУТИНА
        .news__text.news__text--position
          a(href="#").position__link--text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat pariatur quod natus vel iste earum dolorum, ipsam illo quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum nam reiciendis accusamus adipisci obcaecati praesentium qui totam harum dignissimos distinctio, omnis repellat soluta magni voluptas ab amet culpa. Impedit, officiis? Repudiandae, sit maxime non iste aperiam delectus ab voluptatem tempore iusto fugit, ratione, tempora illum in obcaecati neque consequuntur perspiciatis quasi dolore nulla ut voluptas provident? Odio asperiores vitae illo minus. Veritatis cum aliquid optio eaque eos consectetur amet architecto.
      .news__image.news__image--position
        a(href="#").position__link--image
          +image('content/position-avatar-1.jpg', 'position__image')
    .position__item
      .news__content.news__content--position
        .news__date.news__date--pencil.news__date--position
          span.date.date--slash 30.04.2020
          br
          span.author
            a(href="#").position__link--author Мария БУТИНА
        .news__text.news__text--position
          a(href="#").position__link--text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat pariatur quod natus vel iste earum dolorum, ipsam illo quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum nam reiciendis accusamus adipisci obcaecati praesentium qui totam harum dignissimos distinctio, omnis repellat soluta magni voluptas ab amet culpa. Impedit, officiis? Repudiandae, sit maxime non iste aperiam delectus ab voluptatem tempore iusto fugit, ratione, tempora illum in obcaecati neque consequuntur perspiciatis quasi dolore nulla ut voluptas provident? Odio asperiores vitae illo minus. Veritatis cum aliquid optio eaque eos consectetur amet architecto.
      .news__image.news__image--position
        a(href="#").position__link--image
          +image('content/position-avatar-1.jpg', 'position__image')
    .position__item
      .news__content.news__content--position
        .news__date.news__date--pencil.news__date--position
          span.date.date--slash 30.04.2020
          br
          span.author
            a(href="#").position__link--author Мария БУТИНА
        .news__text.news__text--position
          a(href="#").position__link--text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat pariatur quod natus vel iste earum dolorum, ipsam illo quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum nam reiciendis accusamus adipisci obcaecati praesentium qui totam harum dignissimos distinctio, omnis repellat soluta magni voluptas ab amet culpa. Impedit, officiis? Repudiandae, sit maxime non iste aperiam delectus ab voluptatem tempore iusto fugit, ratione, tempora illum in obcaecati neque consequuntur perspiciatis quasi dolore nulla ut voluptas provident? Odio asperiores vitae illo minus. Veritatis cum aliquid optio eaque eos consectetur amet architecto.
      .news__image.news__image--position
        a(href="#").position__link--image
          +image('content/position-avatar-1.jpg', 'position__image')
    .position__item
      .news__content.news__content--position
        .news__date.news__date--pencil.news__date--position
          span.date.date--slash 30.04.2020
          br
          span.author
            a(href="#").position__link--author Мария БУТИНА
        .news__text.news__text--position
          a(href="#").position__link--text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat pariatur quod natus vel iste earum dolorum, ipsam illo quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum nam reiciendis accusamus adipisci obcaecati praesentium qui totam harum dignissimos distinctio, omnis repellat soluta magni voluptas ab amet culpa. Impedit, officiis? Repudiandae, sit maxime non iste aperiam delectus ab voluptatem tempore iusto fugit, ratione, tempora illum in obcaecati neque consequuntur perspiciatis quasi dolore nulla ut voluptas provident? Odio asperiores vitae illo minus. Veritatis cum aliquid optio eaque eos consectetur amet architecto.
      .news__image.news__image--position
        a(href="#").position__link--image
          +image('content/position-avatar-1.jpg', 'position__image')

