section.section.media-page
  h1.section__title.section__title--page Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam beatae debitis dolores eveniet excepturi ipsum laboriosam nemo optio sunt.
  .media-page__wrapper
    .media-page__content.media-page-content
      .media-page-content__header.media-page-content-header
        .media-page-content-header__top
          .news__date.news__date--video
            span.date 30.04.2020
        .media-page-content-header__bottom
          .plyr__video-embed#player
            iframe.video-player(
              src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
              allowfullscreen
              allowtransparency
            )
      .media-page-content__main
        .news__heading.news__heading--media-page
          h2.news__title.news__title--media-page Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.

        .news__text.news__text--media-page Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus deserunt error illo impedit odio porro. Corporis deleniti harum itaque maxime nulla. Animi atque consectetur delectus dolores earum ex, expedita ipsa, iusto laboriosam laborum laudantium modi necessitatibus nesciunt perspiciatis placeat porro repellendus repudiandae sit tempore temporibus ut vel velit!
      - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
        ul.search-tags
          each item, index in tags[0]
            li.search-tags__item
              a.search-tags__link(href="#") #{item}
      .media-page-content__footer.media-page-content-footer
        .media-page-content-footer__top
          a.article__link.article__link--main Вернуться к списку видео
