section.section.press-center
  h1.section__title.section__title--page Фотогалереи о соотечественниках за рубежом
  article.press-center__section
    h2.text-page__title.text-page__title--all Все статьи автора
    form.form.form--request-status
      .form__row.form__row--press
        label.form__block.form__block--select.form__block--media.label
          select(required).request-status__select-list.select__list.select__list--media
            option(value="none" disabled selected).select__item Вcе категории
            option(value="1").select__item Все
            option(value="2").select__item Заявка поступила
            option(value="3").select__item На рассмотрении
            option(value="4").select__item Поддержано
            option(value="5").select__item Поддержано с оговорками
            option(value="6").select__item Отложить
            option(value="7").select__item Не поддерживать / Отклонить
            option(value="8").select__item Заявка отозвана
            option(value="9").select__item Не принято к рассмотрению
        label.form__block.form__block--press-date.form__block--press-date-span.label
          input(type="date" required).request-status__input.request-status__input--press
          span.request-status__span.request-status__span--press -
        label.form__block.form__block--press-date.label
          input(type="date" required).request-status__input.request-status__input--press
          button.form__block--search.search__block
            - var icons = ["search-icon"]
            each item in icons
              +icon(item, "search-icon search-icon--request-status")
    .media__wrapper
      .media__item.media-item
        .media-item__header
          .news__image.news__image--media
            +image('content/latest-news__image-1.jpg', 'img media__image')
            a(href="#").video__play.video__play--media-page
        .media-item__footer
          .news__date.news__date--video
            span.date 30.04.2020
          .news__heading.news__heading--media
            a(href="#").news__link
              h2.news__title.news__title--media Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          .media-item__nav
            span.media-quantity Длительность:  1 ч. 15 мм
            span.overlay-open
              a(href="#").news__link Смотреть
          .section__wrapper.section__wrapper--latest.section__wrapper--media

    include ./pagination


