section.section.press-center.press-center--library.press-center-library
  h1.section__title Библиотека
  .press-center-library__wrapper
    .press-center-library__item
      .press-center-library__header
        .press-center-library__image
          +image("content/press-center-library__image-1.jpg", "library-img")
        .press-center-library__content
          h2.news__title.news__title--press.news__title--library Lorem ipsum dolor sit amet.
          ul.press-center-library__list.library-info
            li.library-info__item.library-info__author Министерство иностранных дел
            li.library-info__item.library-info__date июнь 2020
            li.library-info__item.library-info__age 16+
            li.library-info__item.library-info__pages ~400
            li.library-info__item.library-info__publisher МИД РФ

          a.download__link.download__link--pdf Скачать
      .press-center-library__main
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error facere id necessitatibus nisi quas quisquam! Ad adipisci aliquam aspernatur aut blanditiis delectus deleniti dicta dignissimos distinctio, doloremque eligendi eos fugiat harum inventore, laborum laudantium libero magnam mollitia neque nihil quaerat quis suscipit tempora? Architecto cum deserunt dicta distinctio doloribus ducimus, ea fugiat fugit iste itaque labore mollitia nulla odio odit praesentium provident, quae quas qui quod ratione reprehenderit sint, suscipit temporibus veritatis vero vitae voluptas voluptate. Amet, cumque dignissimos dolorem ea earum excepturi laboriosam modi, molestiae officia, optio possimus ratione repudiandae sapiente temporibus voluptates! <a href="#"> Ad consequatur </a> delectus pariatur repudiandae.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores eos, eum expedita fuga maiores porro reprehenderit sed similique sint? Adipisci aliquam animi aspernatur beatae blanditiis commodi consectetur consequatur dolores dolorum est explicabo facere harum inventore iste iure iusto laudantium nemo neque nihil, nisi nobis non nostrum optio placeat repudiandae sapiente sequi tempore tenetur totam ullam, ut vel voluptas voluptatem? Ad amet atque consectetur dolor dolorum ea eaque eius eum facere facilis incidunt inventore iusto maiores maxime minima mollitia quibusdam quis sequi, totam veniam! Animi architecto corporis, dignissimos et eveniet illo iure iusto maiores nostrum quas reprehenderit ullam velit voluptate?
    .press-center-library__item
      .press-center-library__header
        .press-center-library__image
          +image("content/press-center-library__image-1.jpg", "library-img")
        .press-center-library__content
          h2.news__title.news__title--press.news__title--library Lorem ipsum dolor sit amet.
          ul.press-center-library__list.library-info
            li.library-info__item.library-info__author Министерство иностранных дел
            li.library-info__item.library-info__date июнь 2020
            li.library-info__item.library-info__age 16+
            li.library-info__item.library-info__pages ~400
            li.library-info__item.library-info__publisher МИД РФ

          a.download__link.download__link--pdf Скачать
      .press-center-library__main
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error facere id necessitatibus nisi quas quisquam! Ad adipisci aliquam aspernatur aut blanditiis delectus deleniti dicta dignissimos distinctio, doloremque eligendi eos fugiat harum inventore, laborum laudantium libero magnam mollitia neque nihil quaerat quis suscipit tempora? Architecto cum deserunt dicta distinctio doloribus ducimus, ea fugiat fugit iste itaque labore mollitia nulla odio odit praesentium provident, quae quas qui quod ratione reprehenderit sint, suscipit temporibus veritatis vero vitae voluptas voluptate. Amet, cumque dignissimos dolorem ea earum excepturi laboriosam modi, molestiae officia, optio possimus ratione repudiandae sapiente temporibus voluptates! <a href="#"> Ad consequatur </a> delectus pariatur repudiandae.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores eos, eum expedita fuga maiores porro reprehenderit sed similique sint? Adipisci aliquam animi aspernatur beatae blanditiis commodi consectetur consequatur dolores dolorum est explicabo facere harum inventore iste iure iusto laudantium nemo neque nihil, nisi nobis non nostrum optio placeat repudiandae sapiente sequi tempore tenetur totam ullam, ut vel voluptas voluptatem? Ad amet atque consectetur dolor dolorum ea eaque eius eum facere facilis incidunt inventore iusto maiores maxime minima mollitia quibusdam quis sequi, totam veniam! Animi architecto corporis, dignissimos et eveniet illo iure iusto maiores nostrum quas reprehenderit ullam velit voluptate?
    .press-center-library__item
      .press-center-library__header
        .press-center-library__image
          +image("content/press-center-library__image-1.jpg", "library-img")
        .press-center-library__content
          h2.news__title.news__title--press.news__title--library Lorem ipsum dolor sit amet.
          ul.press-center-library__list.library-info
            li.library-info__item.library-info__author Министерство иностранных дел
            li.library-info__item.library-info__date июнь 2020
            li.library-info__item.library-info__age 16+
            li.library-info__item.library-info__pages ~400
            li.library-info__item.library-info__publisher МИД РФ

          a.download__link.download__link--pdf Скачать
      .press-center-library__main
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error facere id necessitatibus nisi quas quisquam! Ad adipisci aliquam aspernatur aut blanditiis delectus deleniti dicta dignissimos distinctio, doloremque eligendi eos fugiat harum inventore, laborum laudantium libero magnam mollitia neque nihil quaerat quis suscipit tempora? Architecto cum deserunt dicta distinctio doloribus ducimus, ea fugiat fugit iste itaque labore mollitia nulla odio odit praesentium provident, quae quas qui quod ratione reprehenderit sint, suscipit temporibus veritatis vero vitae voluptas voluptate. Amet, cumque dignissimos dolorem ea earum excepturi laboriosam modi, molestiae officia, optio possimus ratione repudiandae sapiente temporibus voluptates! <a href="#"> Ad consequatur </a> delectus pariatur repudiandae.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores eos, eum expedita fuga maiores porro reprehenderit sed similique sint? Adipisci aliquam animi aspernatur beatae blanditiis commodi consectetur consequatur dolores dolorum est explicabo facere harum inventore iste iure iusto laudantium nemo neque nihil, nisi nobis non nostrum optio placeat repudiandae sapiente sequi tempore tenetur totam ullam, ut vel voluptas voluptatem? Ad amet atque consectetur dolor dolorum ea eaque eius eum facere facilis incidunt inventore iusto maiores maxime minima mollitia quibusdam quis sequi, totam veniam! Animi architecto corporis, dignissimos et eveniet illo iure iusto maiores nostrum quas reprehenderit ullam velit voluptate?
    .press-center-library__item
      .press-center-library__header
        .press-center-library__image
          +image("content/press-center-library__image-1.jpg", "library-img")
        .press-center-library__content
          h2.news__title.news__title--press.news__title--library Lorem ipsum dolor sit amet.
          ul.press-center-library__list.library-info
            li.library-info__item.library-info__author Министерство иностранных дел
            li.library-info__item.library-info__date июнь 2020
            li.library-info__item.library-info__age 16+
            li.library-info__item.library-info__pages ~400
            li.library-info__item.library-info__publisher МИД РФ

          a.download__link.download__link--pdf Скачать
      .press-center-library__main
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error facere id necessitatibus nisi quas quisquam! Ad adipisci aliquam aspernatur aut blanditiis delectus deleniti dicta dignissimos distinctio, doloremque eligendi eos fugiat harum inventore, laborum laudantium libero magnam mollitia neque nihil quaerat quis suscipit tempora? Architecto cum deserunt dicta distinctio doloribus ducimus, ea fugiat fugit iste itaque labore mollitia nulla odio odit praesentium provident, quae quas qui quod ratione reprehenderit sint, suscipit temporibus veritatis vero vitae voluptas voluptate. Amet, cumque dignissimos dolorem ea earum excepturi laboriosam modi, molestiae officia, optio possimus ratione repudiandae sapiente temporibus voluptates! <a href="#"> Ad consequatur </a> delectus pariatur repudiandae.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores eos, eum expedita fuga maiores porro reprehenderit sed similique sint? Adipisci aliquam animi aspernatur beatae blanditiis commodi consectetur consequatur dolores dolorum est explicabo facere harum inventore iste iure iusto laudantium nemo neque nihil, nisi nobis non nostrum optio placeat repudiandae sapiente sequi tempore tenetur totam ullam, ut vel voluptas voluptatem? Ad amet atque consectetur dolor dolorum ea eaque eius eum facere facilis incidunt inventore iusto maiores maxime minima mollitia quibusdam quis sequi, totam veniam! Animi architecto corporis, dignissimos et eveniet illo iure iusto maiores nostrum quas reprehenderit ullam velit voluptate?
  include ./pagination
