section.section.press-center
  h1.section__title.section__title--page Все статьи
  article.press-center__section
    .press-center-author__wrapper.author__list
      .author__item.author__item--page
        a(href="#").news__link.block-photo__image--author
          .news__image.news__image--author
        .news__content.news__content--author
          h2.news__title.news__title--author
            a(href="#").news__link МАРИЯ ВАЛЕРЬЕВНА БУТИНА
          p.news__text.news__text--author Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur aut cupiditate distinctio eaque eum fuga fugit, incidunt iusto maiores natus necessitatibus nulla, repellat repudiandae sit? Alias aut, debitis dolores excepturi expedita illo illum ipsum minus nostrum optio qui repellendus tenetur, voluptas. Aspernatur consequuntur deserunt dolore eaque molestias saepe velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur aut cupiditate distinctio eaque eum fuga fugit, incidunt iusto maiores natus necessitatibus nulla, repellat repudiandae sit? Alias aut, debitis dolores excepturi expedita illo illum ipsum minus nostrum optio qui repellendus tenetur, voluptas. Aspernatur consequuntur deserunt dolore eaque molestias saepe velit.
          a(href="#").news__search Все статьи автора
  include ./pressCenterArticleAllModule
