section.section.activity.activity--item
  h1.section__title.section__title--page.section__title--activity-item Вручение Спецприза Института Русского зарубежья присужден материалу «Первая Балканская конференция по защите прав соотечественников»
  .activity-wrapper.activity-wrapper--item
    article.activity__item.activity__item--item
      .activity-item__header.activity-item-header
        .activity-item-header__top
          .news__date.news__date--timetable.news__date--activity
            span.date 30.04.2020
        .activity-item-header__bottom
          a(href="#").news__link
            span.author.author--article АЛЕКСАНДР БРОД (РАПСИ)
          .print__link
      .activity-item__main.activity-item-main
        .activity-item-main__header
          .news__image.news__image--activity-item
            a(href="#").news__link
              +image("content/slider__item-1.jpg", "img activity-item-img")
          .ya-share2(data-services="vkontakte,facebook,odnoklassniki,twitter,telegram" data-direction="vertical")
        .activity-item-main__content.article
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, enim?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aspernatur autem consequatur cupiditate debitis dolore doloremque ea eius error eum fugiat inventore itaque iure minus <a class="article__link">asdasdaflsdahfkljsadfjklsdafh</a> modi nemo nesciunt, nihil nobis odio optio perferendis praesentium quae quasi totam vel voluptate. Consequuntur dignissimos eius in iusto magnam officiis placeat, sunt voluptatem!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores eaque enim impedit in inventore labore maxime mollitia, natus nemo neque nulla possimus quia quo, recusandae similique temporibus, voluptate. A, amet consequuntur delectus eum exercitationem ipsam itaque magnam numquam officiis optio porro quas qui, recusandae repellat repellendus, sit tempora? Perferendis!
          p
            img(src="http://cf14422.tmweb.ru/upload/iblock/21f/21f4d88e4189cd5caf8c5f4278b21b30.jpg" alt="#" align="left")
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet aperiam aspernatur aut autem commodi culpa cupiditate distinctio dolorem eius eos expedita explicabo hic illum in ipsam ipsum iste iure maxime molestias nam nemo nisi non, placeat provident quas qui recusandae sequi tenetur vel veritatis voluptates voluptatum? Ducimus enim itaque molestiae ratione rem sequi, tempore? Adipisci aliquid asperiores aspernatur culpa deserunt dignissimos dolor eaque facilis labore magnam, molestias nemo, nihil, numquam pariatur tempore! Accusantium dolorem et excepturi facere fugit iusto, minus modi molestiae nam, natus neque nesciunt provident quae quas quasi quibusdam reprehenderit sed soluta sunt tempora tenetur ullam vitae? Asperiores atque eius, error impedit iste, iusto non omnis porro quisquam repellat, tempora ut? A, dicta est excepturi explicabo hic id incidunt laboriosam libero magnam minus numquam praesentium quis ratione suscipit vitae!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores eaque enim impedit in inventore labore maxime mollitia, natus nemo neque nulla possimus quia quo, recusandae similique temporibus, voluptate. A, amet consequuntur delectus eum exercitationem ipsam itaque magnam numquam officiis optio porro quas qui, recusandae repellat repellendus, sit tempora? Perferendis!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores eaque enim impedit in inventore labore maxime mollitia, natus nemo neque nulla possimus quia quo, recusandae similique temporibus, voluptate. A, amet consequuntur delectus eum exercitationem ipsam itaque magnam numquam officiis optio porro quas qui, recusandae repellat repellendus, sit tempora? Perferendis!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet aperiam aspernatur aut autem commodi culpa cupiditate distinctio dolorem eius eos expedita explicabo hic illum in ipsam ipsum iste iure maxime molestias nam nemo nisi non, placeat provident quas qui recusandae sequi tenetur vel veritatis voluptates voluptatum? Ducimus enim itaque molestiae ratione rem sequi, tempore? Adipisci aliquid asperiores aspernatur culpa deserunt dignissimos dolor eaque facilis labore magnam, molestias nemo, nihil, numquam pariatur tempore! Accusantium dolorem et excepturi facere fugit iusto, minus modi molestiae nam, natus neque nesciunt provident quae quas quasi quibusdam reprehenderit sed soluta sunt tempora tenetur ullam vitae? Asperiores atque eius, error impedit iste, iusto non omnis porro quisquam repellat, tempora ut? A, dicta est excepturi explicabo hic id incidunt laboriosam libero magnam minus numquam praesentium quis ratione suscipit vitae!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet aperiam aspernatur aut autem commodi culpa cupiditate distinctio dolorem eius eos expedita explicabo hic illum in ipsam ipsum iste iure maxime molestias nam nemo nisi non, placeat provident quas qui recusandae sequi tenetur vel veritatis voluptates voluptatum? Ducimus enim itaque molestiae ratione rem sequi, tempore? Adipisci aliquid asperiores aspernatur culpa deserunt dignissimos dolor eaque facilis labore magnam, molestias nemo, nihil, numquam pariatur tempore! Accusantium dolorem et excepturi facere fugit iusto, minus modi molestiae nam, natus neque nesciunt provident quae quas quasi quibusdam reprehenderit sed soluta sunt tempora tenetur ullam vitae? Asperiores atque eius, error impedit iste, iusto non omnis porro quisquam repellat, tempora ut? A, dicta est excepturi explicabo hic id incidunt laboriosam libero magnam minus numquam praesentium quis ratione suscipit vitae!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores eaque enim impedit in inventore labore maxime mollitia, natus nemo neque nulla possimus quia quo, recusandae similique temporibus, voluptate. A, amet consequuntur delectus eum exercitationem ipsam itaque magnam numquam officiis optio porro quas qui, recusandae repellat repellendus, sit tempora? Perferendis!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores eaque enim impedit in inventore labore maxime mollitia, natus nemo neque nulla possimus quia quo, recusandae similique temporibus, voluptate. A, amet consequuntur delectus eum exercitationem ipsam itaque magnam numquam officiis optio porro quas qui, recusandae repellat repellendus, sit tempora? Perferendis!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores eaque enim impedit in inventore labore maxime mollitia, natus nemo neque nulla possimus quia quo, recusandae similique temporibus, voluptate. A, amet consequuntur delectus eum exercitationem ipsam itaque magnam numquam officiis optio porro quas qui, recusandae repellat repellendus, sit tempora? Perferendis!

          .article__source.source Источник:
            a(target="_blank").source__link https://

        .activity-item-main__footer.activity-item-main-footer
          .activity-item-main-footer__top
            a.article__link.article__link--main Вернуться к списку мероприятий
          .activity-item-main-footer__bottom.activity-item-main-footer__bottom--article
            form(action="#" target="_blank")
              button.button.button--article Показать комментарии
            .foorter-print
              span.print__text Версия для печати
              a(href="#").print__link
