section.section.projects
  h2.section__title ПРИМЕРЫ РЕАЛИЗОВАННЫХ ПРОЕКТОВ
  .projects-main__wrapper
    .projects__wrapper
      .news__item.news__item--project
        .news__image.news__image--project
          a(href="#").news__link
            +image("content/projects-1.jpg", 'img project__image')
        .news__content.news__content--project
          .news__date.news__date--pencil.news__date
            span.date 30.04.2020
          .news__heading.news__heading--project
            a(href="#").news__link
              h3.news__title Lorem ipsum dolor sit amet.
        .section__wrapper.section__wrapper--project
      .news__item.news__item--project
        .news__image.news__image--project
          a(href="#").news__link
            +image("content/slider__item-1.jpg", 'img project__image')
        .news__content.news__content--project
          .news__date.news__date--pencil.news__date
            span.date 30.04.2020
          .news__heading.news__heading--project
            a(href="#").news__link
              h3.news__title Lorem ipsum dolor sit amet.
        .section__wrapper.section__wrapper--project
      .news__item.news__item--project
        .news__image.news__image--project
          a(href="#").news__link
            +image("content/slider__item-1.jpg", 'img project__image')
        .news__content.news__content--project
          .news__date.news__date--pencil.news__date
            span.date 30.04.2020
          .news__heading.news__heading--project
            a(href="#").news__link
              h3.news__title Lorem ipsum dolor sit amet.
        .section__wrapper.section__wrapper--project
      .news__item.news__item--project
        .news__image.news__image--project
          a(href="#").news__link
            +image("content/slider__item-1.jpg", 'img project__image')
        .news__content.news__content--project
          .news__date.news__date--pencil.news__date
            span.date 30.04.2020
          .news__heading.news__heading--project
            a(href="#").news__link
              h3.news__title Lorem ipsum dolor sit amet.
        .section__wrapper.section__wrapper--project
      .news__item.news__item--project
        .news__image.news__image--project
          a(href="#").news__link
            +image("content/slider__item-1.jpg", 'img project__image')
        .news__content.news__content--project
          .news__date.news__date--pencil.news__date
            span.date 30.04.2020
          .news__heading.news__heading--project
            a(href="#").news__link
              h3.news__title Lorem ipsum dolor sit amet.
        .section__wrapper.section__wrapper--project
      .news__item.news__item--project
        .news__image.news__image--project
          a(href="#").news__link
            +image("content/slider__item-1.jpg", 'img project__image')
        .news__content.news__content--project
          .news__date.news__date--pencil.news__date
            span.date 30.04.2020
          .news__heading.news__heading--project
            a(href="#").news__link
              h3.news__title Lorem ipsum dolor sit amet.
        .section__wrapper.section__wrapper--project

