section.section.short
  .news__item.news__item--short
    .news__content.news__content--short
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
    .news__image.news__image--short
      +image("content/short-1.png", "img img--small")
  .news__item.news__item--short
    .news__content.news__content--short
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
    .news__image.news__image--short
      +image("content/short-2.png", "img img--small")
  .news__item.news__item--short
    .news__content.news__content--short
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
    .news__image.news__image--short
      +image("content/short-3.png", "img img--small")
