.slider--sponsors
  a(href='#' role='button').slider__control--sponsors.slider__control_left--sponsors.slider-sponsors__click-listener_left
    +icon('arrow', 'slider-arrow__icon--sponsors slider-arrow__icon--sponsors--left')
  .main__wrapper--sponsors 
    .slider__wrapper--sponsors 
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/IRZ-logo.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-2.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-3.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-4.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-5.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-6.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-2.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-3.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-4.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-5.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-6.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-6.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/IRZ-logo.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-2.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-3.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-4.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-5.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-6.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-2.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-3.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-4.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-5.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-6.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья
      .slider__item--sponsors 
        .slider__image-wrapper--sponsors 
          +image('content/logo-6.png', 'slider__image--sponsors ')
        a(href="#" alt="#").slider__text--sponsors 
          p Институт Русского зарубежья

  a(href='#' role='button').slider__control--sponsors.slider__control_right--sponsors.slider__control_show--sponsors.slider-sponsors__click-listener_right
    +icon('arrow', 'slider-arrow__icon--sponsors slider-arrow__icon--sponsors--right')
