section.section.tags-sidebar
  .tags-sidebar__wrapper
    ul.tags-sidebar__list
      li.tags-sidebar__item
        a(href="#").tags-sidebar__link Великая история
      li.tags-sidebar__item
        a(href="#").tags-sidebar__link Россия и соотечественники
      li.tags-sidebar__item
        a(href="#").tags-sidebar__link СМИ
      li.tags-sidebar__item
        a(href="#").tags-sidebar__link Правозащита: теория и практика
      li.tags-sidebar__item.tags-sidebar__item--active
        a(href="#").tags-sidebar__link Право на родной язык
      li.tags-sidebar__item
        a(href="#").tags-sidebar__link Миграция
      li.tags-sidebar__item
        a(href="#").tags-sidebar__link Право на информацию
      li.tags-sidebar__item
        a(href="#").tags-sidebar__link Великая история


