@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700");
@import "normalize.css";
@import "./mixins.pcss";
@import "./layout/base.pcss";
@import "./blocks/*.pcss";

home: "https://julfy-bs.github.io/prav-fund__project/home.html",
pressCenterPhoto: "https://julfy-bs.github.io/prav-fund__project/pressCenterPhoto.html",
pressCenterPhotoPage: "https://julfy-bs.github.io/prav-fund__project/pressCenterPhotoPage.html",
pressCenterPhotoOverlay: "https://julfy-bs.github.io/prav-fund__project/pressCenterPhotoOverlay.html",
pressCenterVideo: "https://julfy-bs.github.io/prav-fund__project/pressCenterVideo.html",
pressCenterVideoPage: "https://julfy-bs.github.io/prav-fund__project/pressCenterVideoPage.html",
pressCenterVideoOverlay: "https://julfy-bs.github.io/prav-fund__project/pressCenterVideoOverlay.html",
contacts: "https://julfy-bs.github.io/prav-fund__project/contacts.html"
