extends ../layout/main

block variables
  - var title = 'Фонд поддержки и защиты прав соотечественников, проживающих за рубежом - Контакты'
  - var pageClass = 'contacts'

block HeadScript
  script(
    src="https://api-maps.yandex.ru/2.1/?apikey=c1b1a47d-8c13-47fa-bc0a-9fb2c032c5a6&lang=ru_RU"
    type="text/javascript"
  )

block content
  main.main-content
    .main__wrapper
      .container.main-container
        .row-wrapper
          include ../includes/modules/breadcrumbs
        .row-wrapper
          .column-wrapper.column-wrapper--main
            include ../includes/modules/contactsModule
            include ../includes/modules/fundProps
            include ../includes/modules/contactsFormModule
          .column-wrapper.column-wrapper--side
            include ../includes/modules/navSidebar
            include ../includes/modules/news
            include ../includes/modules/photo
            include ../includes/modules/video
            include ../includes/modules/positionReverse
            include ../includes/modules/documentsSidebar
            include ../includes/modules/tagsSidebar
        .row-wrapper
          include ../includes/modules/activityNews
  include ../includes/modules/scrollToTop
block script
  script(
    src="https://api-maps.yandex.ru/2.1/?apikey=c1b1a47d-8c13-47fa-bc0a-9fb2c032c5a6&lang=ru_RU"
    type="text/javascript"
  )
