extends ../layout/main

block variables
  - var title = 'Фонд поддержки и защиты прав соотечественников, проживающих за рубежом - Мероприятия'
  - var pageClass = 'activity'

block content
  main.main-content
    .main__wrapper
      .container.main-container
        .row-wrapper
          include ../includes/modules/breadcrumbs
        .row-wrapper
          .column-wrapper.column-wrapper--main
            include ../includes/modules/fundDirectorateTrustModule
          .column-wrapper.column-wrapper--side
            include ../includes/modules/navSidebar
            include ../includes/modules/news
            include ../includes/modules/photo
            include ../includes/modules/positionReverse
            include ../includes/modules/documentsSidebar
        .row-wrapper
          include ../includes/modules/activityNews
    .row-wrapper.banner-wrapper
      include ../includes/modules/banner
    .main__wrapper
      .container.main-container
        include ../includes/modules/activityHome
  include ../includes/modules/scrollToTop
