extends ../layout/main

block variables
  - var title = 'Фонд поддержки и защиты прав соотечественников, проживающих за рубежом - Главная'
  - var pageClass = 'home-page'

block content
  main.main-content
    .main__wrapper
      .container.main-container
        .row-wrapper
          include ../includes/modules/short
        .row-wrapper
          include ../includes/modules/slider--main
          include ../includes/modules/news
        .row-wrapper.row-wrapper--section
          include ../includes/modules/links-section
        .row-wrapper
          .column-wrapper.column-wrapper--main
            include ../includes/modules/latest-news
          .column-wrapper.column-wrapper--side
            include ../includes/modules/position
            include ../includes/modules/photo
            include ../includes/modules/video
        .row-wrapper
          include ../includes/modules/library
    .row-wrapper.banner-wrapper
      include ../includes/modules/banner
    .main__wrapper
      .container
          include ../includes/modules/activity
