extends ../layout/print

block variables
  - var title = 'Версия для печати'
  - var pageClass = 'print-page'

block content
  main.main-content.main-content--print
    .container.main-container
      include ../includes/modules/grantsTextModule

  include ../includes/modules/scrollToTop


